In [7]:
from sqlalchemy import create_engine
import pandas as pd

In [10]:
#create engine
connection_string =  "postgres:**pswrd**@localhost:5432/WalMart"
engine = create_engine(f'postgresql://{connection_string}')

In [3]:
#create df
data={'House':['Draggo'],'Condo':'Freya'}
pets_df=pd.DataFrame(data)
pets_df=pets_df.append({'House':'Loki','Condo':'Alex'},ignore_index=True)

In [12]:
pets_df.to_sql(name='house_pets',con=engine,if_exists='append',index=False)

In [11]:
pd.read_sql_query('select * from house_pets',engine)

    House Condo  id  my_count
0    Alex  Alex   1         1
1    Frey  Frey   3         1
2  Draggo  Frey   2         1
3  Draggo  Frey   4         2

In [23]:
df=pd.read_csv("../../group_project_3/_final/project3_group_springy_olympics/data/summer.csv")

In [50]:
count=0
for col in df:
    if df[col].dtype==object:
        print(df[col].str.contains(',').sum())
            
print (count)

0
0
0
0
0
0
0
0
0

In [49]:

for col in df:
    if df[col].dtype==object:
        df[col]=df[col].str.replace(',','/')

In [51]:
df.to_csv("../../group_project_3/_final/project3_group_springy_olympics/data/summer_delim.csv")