In [1]:
#conda environment 'unemploy'
import pandas as pd

In [5]:
#data from:
#https://www.kaggle.com/jayrav13/unemployment-by-county-us
unemploy_df=pd.read_csv("data/output.csv")
unemploy_df.head()

   Year     Month        State         County  Rate
0  2015  February  Mississippi  Newton County   6.1
1  2015  February  Mississippi  Panola County   9.4
2  2015  February  Mississippi  Monroe County   7.9
3  2015  February  Mississippi   Hinds County   6.1
4  2015  February  Mississippi  Kemper County  10.6

In [9]:
#find the time range
unemploy_df.Year.unique()

array([2015, 2014, 2016, 2011, 2010, 2013, 2012, 1991, 1990, 1993, 1992,
       1995, 1994, 1997, 1996, 1999, 1998, 2002, 2003, 2000, 2001, 2006,
       2007, 2004, 2005, 2008, 2009])

In [20]:
#arrange db by year then state
unemploy_df.sort_values(by=["Year","State"],ascending=False,inplace=True)
#unemploy_df.sort_values(by=["State"],ascending=False,inplace=True)
unemploy_df

        Year     Month    State             County  Rate
91446   2016     April  Wyoming      Platte County   4.8
77136   2016    August  Wyoming    Converse County   6.0
77137   2016    August  Wyoming    Sublette County   5.4
91449   2016     April  Wyoming    Sheridan County   4.8
91439   2016     April  Wyoming    Converse County   6.5
...      ...       ...      ...                ...   ...
272516  1990  February  Alabama    Cleburne County   6.7
272513  1990  February  Alabama  Tuscaloosa County  10.8
272493  1990  February  Alabama       Macon County   9.1
272497  1990  February  Alabama    Cherokee County   7.8
272482  1990  February  Alabama      Geneva County   4.8

[885548 rows x 5 columns]

In [21]:
unemploy_df.Rate.mean()

6.175009711500675